*{
    margin: 0;
    padding: 0;
}
#container {
    width: 700px;
    height: 180px;
}
#logo {
    width: 300px;
    height: 100%;
    float: left;
    border: 1px solid red;
}
#login {
    width: 400px;
    height: 100%;
    padding: 60px 50%;
}