#container {
    width: 700px;
    height: 180px;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    width: 300px;
    height: 100%;
    float: left;
}
#login {
    width: 400px;
    height: 100%;
    padding: 60px 50%;
}